<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rahadi.sipadu">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".adapter.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adapter.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar.ForHome" />
        <activity
            android:name=".adapter.SplashScreen"
            android:label="@string/title_activity_splashscreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".adapter.BeritaActivity"
            android:label="@string/title_activity_berita"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".adapter.BeritaDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>